<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204857404762-ggnr6hv37k5t59i22fdae0dmhtc6v22j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204857404762-ggnr6hv37k5t59i22fdae0dmhtc6v22j</string>
	<key>API_KEY</key>
	<string>AIzaSyA1oUkC2Zhh8bthS08UU2CIEnq1FmmP6SI</string>
	<key>GCM_SENDER_ID</key>
	<string>204857404762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sivhour.brew-crew</string>
	<key>PROJECT_ID</key>
	<string>sivhour-brew-crew</string>
	<key>STORAGE_BUCKET</key>
	<string>sivhour-brew-crew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204857404762:ios:2e12a59cb64f37f30b1763</string>
</dict>
</plist>